<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJvYW5ueXFhbGhmZW9pd2Z6bGl3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIzNzQ4MTUsImV4cCI6MjA3Nzk1MDgxNX0.V5JIAYyxjf30sx5PvVSniBUK8D_nLd1ownS9hz37Lcw</string>
	<key>SUPABASE_URL</key>
	<string>https://boannyqalhfeoiwfzliw.supabase.co</string>
</dict>
</plist>
